<script>
import {
  GlAvatarLabeled,
  GlAvatarLink,
  GlSkeletonLoader,
  GlTable,
  GlTooltipDirective,
  GlKeysetPagination,
} from '@gitlab/ui';
import { __, s__ } from '~/locale';
import { thWidthPercent } from '~/lib/utils/table_utility';
import { ADD_ON_ERROR_DICTIONARY } from 'ee/usage_quotas/error_constants';
import ErrorAlert from 'ee/vue_shared/components/error_alert/error_alert.vue';
import { scrollToElement } from '~/lib/utils/common_utils';
import CodeSuggestionsAddonAssignment from './code_suggestions_addon_assignment.vue';
import SearchAndSortBar from './search_and_sort_bar.vue';

export default {
  name: 'AddOnEligibleUserList',
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  components: {
    CodeSuggestionsAddonAssignment,
    ErrorAlert,
    GlAvatarLabeled,
    GlAvatarLink,
    GlKeysetPagination,
    GlSkeletonLoader,
    GlTable,
    SearchAndSortBar,
  },
  props: {
    addOnPurchaseId: {
      type: String,
      required: true,
    },
    users: {
      type: Array,
      required: false,
      default: () => [],
    },
    isLoading: {
      type: Boolean,
      required: false,
      default: false,
    },
    pageInfo: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {
      addOnAssignmentError: undefined,
      filterOptions: {},
    };
  },
  addOnErrorDictionary: ADD_ON_ERROR_DICTIONARY,
  avatarSize: 32,
  tableFields: [
    {
      key: 'user',
      label: __('User'),
      // eslint-disable-next-line @gitlab/require-i18n-strings
      thClass: `${thWidthPercent(30)} gl-pl-2!`,
      tdClass: 'gl-vertical-align-middle! gl-pl-2!',
    },
    {
      key: 'email',
      label: __('Email'),
      thClass: thWidthPercent(20),
      tdClass: 'gl-vertical-align-middle!',
    },
    {
      key: 'codeSuggestionsAddon',
      label: s__('CodeSuggestions|Code Suggestions add-on'),
      thClass: thWidthPercent(25),
      tdClass: 'gl-vertical-align-middle!',
    },
    {
      key: 'lastActivityTime',
      label: __('Last GitLab activity'),
      thClass: thWidthPercent(25),
      tdClass: 'gl-vertical-align-middle!',
    },
  ],
  computed: {
    tableItems() {
      return this.users.map((node) => ({
        ...node,
        username: `@${node.username}`,
        addOnAssignments: node.addOnAssignments.nodes,
      }));
    },
    showPagination() {
      if (this.isLoading || !this.pageInfo) {
        return false;
      }

      const { hasNextPage, hasPreviousPage } = this.pageInfo;

      return hasNextPage || hasPreviousPage;
    },
    emptyText() {
      if (this.filterOptions?.search?.length < 3) {
        return s__('Billing|Enter at least three characters to search.');
      }
      return s__('Billing|No users to display.');
    },
  },
  methods: {
    nextPage() {
      this.$emit('next', this.pageInfo.endCursor);
    },
    prevPage() {
      this.$emit('prev', this.pageInfo.startCursor);
    },
    onFilter(filterOptions) {
      this.$emit('filter', filterOptions);
      this.filterOptions = filterOptions;
    },
    handleAddOnAssignmentError(errorCode) {
      this.addOnAssignmentError = errorCode;
      this.scrollToTop();
    },
    clearAddOnAssignmentError() {
      this.addOnAssignmentError = undefined;
    },
    scrollToTop() {
      scrollToElement(this.$el);
    },
  },
};
</script>

<template>
  <section>
    <search-and-sort-bar @onFilter="onFilter" />

    <slot name="error-alert"></slot>

    <error-alert
      v-if="addOnAssignmentError"
      data-testid="add-on-assignment-error"
      :error="addOnAssignmentError"
      :error-dictionary="$options.addOnErrorDictionary"
      :dismissible="true"
      @dismiss="clearAddOnAssignmentError"
    />

    <gl-table
      :items="tableItems"
      :fields="$options.tableFields"
      :busy="isLoading"
      :show-empty="true"
      :empty-text="emptyText"
      primary-key="id"
      data-testid="add-on-eligible-users-table"
    >
      <template #table-busy>
        <div class="gl-ml-n4 gl-pt-3">
          <gl-skeleton-loader>
            <rect x="0" y="0" width="60" height="3" rx="1" />
            <rect x="126" y="0" width="60" height="3" rx="1" />
            <rect x="207" y="0" width="60" height="3" rx="1" />
            <rect x="338" y="0" width="60" height="3" rx="1" />
          </gl-skeleton-loader>
        </div>
      </template>
      <template #cell(user)="{ item }">
        <div class="gl-display-flex">
          <gl-avatar-link target="blank" :href="item.webUrl" :alt="item.name">
            <gl-avatar-labeled
              :src="item.avatarUrl"
              :size="$options.avatarSize"
              :label="item.name"
              :sub-label="item.username"
            />
          </gl-avatar-link>
        </div>
      </template>

      <template #cell(email)="{ item }">
        <div data-testid="email">
          <span v-if="item.publicEmail" class="gl-text-gray-900">{{ item.publicEmail }}</span>
          <span
            v-else
            v-gl-tooltip
            :title="s__('Billing|An email address is only visible for users with public emails.')"
            class="gl-font-style-italic"
          >
            {{ s__('Billing|Private') }}
          </span>
        </div>
      </template>

      <template #cell(codeSuggestionsAddon)="{ item }">
        <code-suggestions-addon-assignment
          :user-id="item.id"
          :add-on-assignments="item.addOnAssignments"
          :add-on-purchase-id="addOnPurchaseId"
          @handleAddOnAssignmentError="handleAddOnAssignmentError"
          @clearAddOnAssignmentError="clearAddOnAssignmentError"
        />
      </template>

      <template #cell(lastActivityTime)="data">
        <span data-testid="last_activity_on">
          {{ data.item.lastActivityOn ? data.item.lastActivityOn : __('Never') }}
        </span>
      </template>
    </gl-table>
    <div v-if="showPagination" class="gl-display-flex gl-justify-content-center gl-mt-5">
      <gl-keyset-pagination v-bind="pageInfo" @prev="prevPage" @next="nextPage" />
    </div>
  </section>
</template>
